:root{
    --background: #1f1B24;
}

body{
    background-color: var(--background);
}

.cell{
    background-color: aliceblue;
    border: #1f1B24;
}

.chessboard{
    height: 300px;
    width: 300px;
    border-radius: 3px;
    border:2px solid #8b7355;
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.piece-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
    transition: opacity 0.2s ease;
}
.square{
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}

body.selecting .square:hover {
    outline: 2px solid white;
    outline-offset: -2px; 
}

.preview {
    outline: 2px solid green;
    outline-offset: -2px;
    position: relative;
}

.preview::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--preview-piece);
    background-size: contain;
    background-position: center;
    opacity: 0.5;
}